body {
    margin:0px;
    padding:0px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
img{
    max-width: 100%;
}

h1{font-size: 38px; color: #616161;}
h2{font-size: 32px; color: #616161;}
h3{font-size: 30px; color: #616161;}
h4{font-size: 20px; color: #616161;}

.header-index{
    height: 700px;
}

header nav{
    height: 100px;
    background-color: white;
    box-shadow: none;
}

nav .brand-logo{
    height: 100px;
    left: 15%;
}

nav .brand-logo img{
    width: 100px;
}

nav .logo-nosotros img{
    width: 200px;
}

header nav ul{
    height: 100px;
}

header ul a{
    color: #616161;
    font-size: 20px;
}

.header-main-pic{
    width: 100%;
    height: 550px;
    background-image: url('../assets/img/Plantilla.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}

.barra{
    height: 100px;
    float: none;
    display: flex;
    margin: 0 auto;
    text-align: center;
}

.iconos-index{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
}
.icon{
    text-align: center;
    margin-top:20px;
    flex-basis: calc(33.3% - 10px);
}

.icon img{
    max-height: 25vh; 
}

.icon h3{
    text-transform:uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px; 
}

.icon p{
    margin-top: 5px;
    margin-bottom: 30px;
    padding:0px 10px 0px 10px;
    /* text-align: justify; */
  }

.contacto-index{
    background-image: url('../assets/img/encuentra.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    color: white;
}
.contacto-index h4{
    margin:30px 0 30px 0;
}
.contacto-index p{
    margin:30px 0 30px 0;
}

.blog-index{
    display: grid;
    grid-template-columns: 50% 50%;
}

.blog-index .robot{
    display: grid;
    grid-template-columns: 40% 60%;  
    margin-right: 20px;  
    margin-bottom: 40px;
    text-align: justify;
}

.tarjeta{
    height: 35%;
    margin-left: 60px;  
    margin-bottom: 40px;
}

.card-content h5{
    margin-top: 0px;
}

.blog-index .imagen{
    margin-right: 40px;
}

.Descripcion-robot h3{
    margin-top: 0px;
}

.foooter{
    margin-top: 40px;
    height: 80px;
    background-color: gray;
    bottom: 0;

}  
footer nav{
    height: 80px;
    background-color: gray;
    box-shadow: none;
}

/* Pagina de nosotros **
************************
************************/

.tarjeta-nosotros{
    padding: 5px 24px 24px 24px;
}

.tarjeta-nosotros h5{
    color:white;
    font-weight: bold;
}

.iconos-miembros { 
    margin: 0 10px;
}

.iconos-miembros img{ 
    width: 80%;
}


.imagenes-nosotros{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.imagenes-texto{
    margin-left: 30px;
    text-align: justify;
    display: grid;
    grid-template-rows: 35% 65%;
}

.imagenes-texto h3{
    margin-top: 0px;
    font-weight: bold;
}

/******** Cursos********
************************
************************/
.tarjeta-cursos{
    height: 450px;
}


/***Cursos-Robótica*****
************************
************************/
.nombre-curso{
    display: grid;
    grid-template-columns: 30% 70%;
}

.nombre-curso img{
    width: 30%;
    margin-left:60% ;
}

.nombre-curso h1{
    height: 60%;
    margin: 0;
    background-color: #26c6da;
    color: white;
    font-weight: bold;
    padding-left: 20px;
    border-radius: 10px;
}

.header-cursos{
    width: 100%;
    height: 400px;
    background-image: url('../assets/img/CursoRoboticaLarga.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.contenido-curso{
    display: grid;
    grid-template-columns: 70% 30%;
}

.texto-curso{
    margin-right: 60px;
    margin-bottom: 30px;
    text-align: justify;
}

.texto-curso h2{
    text-align: center;
}

.ptm  ul {
   list-style: none; /* Eliminar viñetas de lista */
   padding: 0;
   margin: 0;
}
  
.ptm li {
    padding-left: 16px;
}
  
.ptm  li:before {
    content: "•"; /* Insert content that looks like bullets */
    padding-right: 8px;
    color: #26c6da; 
}

/***Curso-apps**********
************************
************************/
.apps-curso{
    display: grid;
    grid-template-columns: 30% 70%;
}

.apps-curso img{
    width: 30%;
    margin-left:60% ;
}

.apps-curso h1{
    height: 60%;
    margin: 0;
    background-color: #26c6da;
    color: white;
    font-weight: bold;
    padding-left: 20px;
    border-radius: 10px;
}

/******Curso-videojuegos*******
************************
************************/
.videojuegos-curso{
    display: grid;
    grid-template-columns: 30% 70%;
}

.videojuegos-curso img{
    width: 30%;
    margin-left:60% ;
}

.videojuegos-curso h1{ 
    height: 60%;
    margin: 0;
    background-color:#9ccc65 ;
    color: white;
    font-weight: bold;
    padding-left: 20px;
    border-radius: 10px;
}

/******Curso-diseño 3D*******
************************
************************/
.diseno3d-curso{
    display: grid;
    grid-template-columns: 30% 70%;
}

.diseno3d-curso img{
    width: 30%;
    margin-left:60% ;
}

.diseno3d-curso h1{ 
    height: 60%;
    margin: 0;
    background-color:#ec407a;
    color: white;
    font-weight: bold;
    padding-left: 20px;
    border-radius: 10px;
}

/******Curso Desarrollo Web*******
************************
************************/
.desarrolloweb-curso{
    display: grid;
    grid-template-columns: 30% 70%;
}

.desarrolloweb-curso img{
    width: 30%;
    margin-left:60% ;
}

.desarrolloweb-curso h1{ 
    height: 60%;
    margin: 0;
    background-color:#ec407a;
    color: white;
    font-weight: bold;
    padding-left: 20px;
    border-radius: 10px;
}

/********Contacto*******
************************
************************/

.formulario-contacto{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 600px;
}

.formulario{
    padding: 50px;
    border: solid 10px #9ccc65 ;
    border-radius: 40px;
}

.iconos-contacto{
    margin-top: 5%;
    margin-left: 15%;
}

.iconos-contacto img{
    width: 10%;
}

.iconos-contacto span{
    margin-left: 20px;
}

.icono-imagen img{
    width: 50%;
    margin-left: 15%;
}