.container{
    display:grid;  
    border: 1px solid blue;  
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 25% 25% 25% 25%;
    height: 100vh;
    gap: 10px 10px;
}

.item{
    border: 1px solid red;
    background-color: lightblue;
}

.item:nth-last-of-type(5){
    background-color: red;
    display: grid;
    grid-column: 1 / span 2;
    /*grid-template: 50% 50% / 33.3% 33.3% 33.3%;*/

}

.item .item{
    background-color: green;
     border: 1px solid white;
}